name: Deploy Rock_Paper_Scissor to GitHub Pages

on:
  push:
    branches: [ main, master ]
  workflow_run:
    workflows: ["CI for Rock_Paper_Scissor"]
    types:
      - completed
    branches: [ main, master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
